body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #1f4037, #99f2c8);
  color: white;
  text-align: center;
  padding-top: 80px;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 40px;
  border-radius: 20px;
  width: 50%;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.highlight {
  color: #00ffcc;
  font-size: 32px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: rgba(255,255,255,0.1);
  margin: 8px;
  padding: 10px;
  border-radius: 8px;
}
