body {
  font-family: Arial, sans-serif;
  background: #0f2027;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  color: white;
  text-align: center;
  padding-top: 100px;
}

.container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 20px;
  display: inline-block;
}

input[type="file"] {
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  background-color: #1abc9c;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #16a085;
}
